version: 1.0.{build}
image: Visual Studio 2022
platform: x64
configuration: Release

environment:
  matrix:
    - THIS_IS_A_DRIVER_BUILD: true

install:
  # AppVeyor VS2022 image usually has WDK, but we can ensure specific needs here if required.
  # For now, we rely on the pre-installed environment.
  - cmd: echo "Ready to build..."

build_script:
  - msbuild AutoClicker.sln /p:Configuration=Release /p:Platform=x64 /p:TargetVersion="Windows10" /v:m

artifacts:
  - path: '**/*.sys'
    name: Driver
  - path: '**/*.exe'
    name: Client

deploy: off
