version: 1.0.{build}
image: Visual Studio 2019
platform: x64
configuration: Release

environment:
  matrix:
    - THIS_IS_A_DRIVER_BUILD: true

build_script:
  - msbuild AutoClicker.sln /p:Configuration=Release /p:Platform=x64 /p:TargetVersion="Windows10" /v:m

artifacts:
  - path: '**/*.sys'
    name: Driver
  - path: '**/*.exe'
    name: Client

deploy: off
