name: Build Driver

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet packages
      run: nuget restore AutoClicker.sln
      continue-on-error: true

    - name: Install WDK
      uses: x973/install-wdk@v1

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build Driver (x64 Release)
      run: msbuild AutoClicker.sln /p:Configuration=Release /p:Platform=x64 /p:TargetVersion="Windows10" /p:TreatWarningsAsErrors=false /v:detailed

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AutoClicker-Build
        path: |
          **/*.sys
          **/*.exe
